.container-fluid {
  padding: 3% 15% 0;
}

#title {
  background-color: #00adb5;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding-bottom: 500px;
}

.navbar {
  padding: 0;
}

.nav-item {
  margin: 0 20px;
}

.title {
  width: 50%;
  margin: 4rem auto;
}

.mountain {
  width: 100%;
  height: 500px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url('../images/mountain.png');
  background-repeat: no-repeat;
  background-size: 1300px;
  background-position: center;
}

.right-cloud {
  width: 12%;
  position: absolute;
  right: 10%;
  bottom: 60%;
}

.left-cloud {
  width: 10%;
  position: absolute;
  left: 10%;
  bottom: 50%;
}
